.offset-0.col-12.d-none.d-lg-flex.offset-md-1.col-lg.h-lg-100
  .min-h-100.d-flex.align-items-center
    .w-100.w-lg-75.w-xxl-50
      %div
        .mb-5
          %h1.display-3.text-white Learn New Skills
          %h1.display-3.text-white Without Spending Money
        %p.h6.text-white.lh-1-5.mb-5
          We believe that education should be accessible to everyone.
          = link_to "Videoskwela", root_path, class: "text-white font-weight-bold"
          helps fill that gap by curating free tutorials online and compiling them into a course.

        .mb-5
          = link_to "Join Now", root_path, class: "btn btn-lg btn-outline-white"