- if current_user
  .container.mb-5
    .pb-3
      %h3 Continue Learning
    .row.row-cols-1.row-cols-md-2.row-cols-lg-4.g-3.mb-3
      - @enrolled_courses.each do |course|
        .col
          = render "courses/enrolled", course: course
    .text-end
      = link_to "See more enrolled courses", enrolled_courses_path
