.hero-section
  .hero-image
  .container.hero-content
    .row
      .col-lg-4
        %h1.display-4.fw-bold
          Welcome to Videoskwela
        %p.mb-4.lead{ style: "opacity: .8" }
          Free courses curated by our community,
          helping each other to learn
          and making education accessible.

        .py-4
          = render "authentication_links" unless current_user
