.hero
  .container
    .row
      .col-lg-4
        %h1.display-4.fw-bold
          Welcome to Videoskwela
        %p.mb-4.lead{ style: "opacity: .8" }
          Free courses curated by our community,
          helping each other to learn
          and making education accessible.

    .row
      .col-lg-4
        -# .p-4
        -# = render "search_courses"

        .py-4
          = render "authentication_links" unless current_user
