.bg-hero.pt-5
  .container.hero-image
    .row
      .col-12.col-sm-6.align-items-center
        .pt-5.pb-4
          %h1.text-white.display-4.fw-bold
            Welcome to Videoskwela
          %p.text-white-50.mb-4.lead
            Free courses curated by our community,
            helping each other to learn
            and making education accessible.

          .p-4
          = render "search_courses"

          .py-4
            = render "authentication_links" unless current_user
