.container.mb-5
  .pb-3
    %h3 New Courses
  .row.g-4.mb-3
    - @new_courses.each do |course|
      .col-sm-6.col-md-3
        = render "courses/course", course: course
  .text-end
    = link_to "See more recent courses",
      courses_path(courses_search: { s: "created_at desc" })
