.container.mb-5
  .pb-3
    %h3 New Courses
  .row.row-cols-1.row-cols-md-2.row-cols-lg-4.g-3.mb-3
    - @new_courses.each do |course|
      .col
        = render "courses/course", course: course
  .text-end
    = link_to "See more recent courses",
      courses_path(courses_search: { s: "created_at desc" })
