.card.mb-3
  .card-body
    %h5.card-title Created users per day
    = line_chart users_per_day_analytics_path

.card.mb-3
  .card-body
    %h5.card-title Enrollments created per day
    = column_chart enrollments_per_day_analytics_path

.card.mb-3
  .card-body
    %h5.card-title Course popularity
    = bar_chart course_popularity_analytics_path
