%li.list-group-item
  - if lesson.viewed_by? current_user
    .far.fa-check-square.me-1
  - else
    .far.fa-square.me-1
  = link_to lesson.title, course_lesson_path(@course, lesson)

  .float-end
    - if policy(lesson).edit?
      .d-inline-block.me-1
        = link_to edit_course_lesson_path(@course, lesson), class: 'text-warning' do
          .fa.fa-edit
    - if policy(lesson).destroy?
      .d-inline-block
        = link_to [@course, lesson], method: :delete, data: { confirm: 'Are you sure?' }, class: 'text-danger' do
          .fa.fa-trash