.row
  .col-xl-4
    = render 'courses/course_card', course: @course
  .col-xl-8
    .card
      .card-header
        %h5.card-title.mb-0 Edit lesson
      .card-body
        = render 'form'
      .card-footer.bg-white
        = link_to 'Cancel', [@course, @lesson], class: 'btn btn-sm btn-warning'
        = link_to 'Back to all lessons', course_lessons_path(@course), class: 'btn btn-sm btn-outline-secondary'
