%nav{"aria-label" => "breadcrumb"}
  %ol.breadcrumb
    %li.breadcrumb-item
      = link_to 'Courses', courses_path
    %li.breadcrumb-item
      = link_to @course.title, course_path(@course)
    %li.breadcrumb-item.active{"aria-current" => "page"} New Lesson

.row
  .col-xl-4
    = render 'courses/course_card', course: @course
  .col-xl-8
    .card
      .card-header
        %h5.card-title.mb-0
          .far.fa-check-square
          New Lesson
      .card-body
        = render 'form'