- page_title "Sign in"

#root.h-100
  / Background Start
  .fixed-background
  / Background End
  .container-fluid.p-0.h-100.position-relative
    .row.g-0.h-100
      / Left Side Start
      = render "devise/shared/hero"
      / Left Side End

      / Right Side Start
      = render "sign_in"
      / Right Side End