@mixin button-theme($btn-color) {
  color: white;
  background-color: $btn-color;
  border-color: darken($btn-color, 5%);

  &:hover,
  &:focus,
  &:active,
  &.active {
    color: white !important;
    background-color: darken($btn-color, 10%);
    border-color: $btn-color;
  }
}

.btn-google {
  @include button-theme(rgb(219, 68, 55));
}
.btn-github {
  @include button-theme(rgb(33, 31, 31));
}
.btn-facebook {
  @include button-theme(rgb(59, 89, 152))
}

.btn-circle.btn-xl {
  width: 56px;
  height: 56px;
  border-radius: 50%;
  font-size: 36px;
  display: flex;
  justify-content: center;
  align-items: center;
  line-height: 1.33;
}

.btn-circle {
  width: 30px;
  height: 30px;
  padding: 6px 0px;
  border-radius: 15px;
  text-align: center;
  font-size: 12px;
  line-height: 1.42857;
}
