.hero-section {
  display: flex;
  position: relative;
  align-items: center;
  justify-content: center;
  height: 94vh;
  color: #fff;

  .hero-image {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    background-image: url("/students.jpg");
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top;
    background-attachment: fixed;
    z-index: -2;
  }

  .hero-image::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(124, 111, 176, 0.6);
    z-index: -1;
  }

  .hero-content {
    .hero-section .hero-content {
      display: flex;
      flex-direction: column;
      align-self: center;
      position: relative;
    }
  }
}
