- page_title @course.title

%nav{"aria-label" => "breadcrumb"}
  %ol.breadcrumb
    %li.breadcrumb-item
      = link_to 'Courses', courses_path
    %li.breadcrumb-item.active{"aria-current" => "page"}
      = @course.title

.row
  .col-xl-4.mb-3
    = render 'course_card', course: @course

  .col-xl-8.mb-3
    = render 'lessons/lessons_card', course: @course, lessons: @lessons


