@import "font-awesome-sprockets";
@import "font-awesome";

@import "font";
@import "actiontext";

@import "courses";

@import "devise";

.resource-container {
  display: grid;
  gap: 20px;
  grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
}

a {
  text-decoration: none !important;
}

.ui-state-highlight {
  height: 3em;
  line-height: 1.2em;
  background-color: #7e93a8;
}

.dropdown {
  z-index: 9999;
}
