%footer.footer.bg-light.p-4
  .container
    .row
      .col-md-4
        Copyright © 2021 Videoskwela.
        .row
        .fa.fa-envelope.me-1
        = mail_to 'jess.programmer@gmail.com'
        .row
      .col-md-4
        = link_to 'Privacy policy', privacy_policy_path
        .row
        Terms and conditions
      .col-md-4
        About us
        .row
        = link_to 'Teach on Videoskwela', new_course_path