%hr
%footer
  .container
    .row
      .col-md-4
        Copyright
        ©
        = Time.now.year
        Videoskwela.
        .row
        .fa.fa-envelope
        = mail_to 'jess.programmer@gmail.com'
        .row
      .col-md-4
        Privacy policy
        .row
        Terms and conditions
      .col-md-4
        About us
        .row
        = link_to 'Teach on Videoskwela', new_course_path
%br