#nav.nav-container.d-flex
  .nav-content.d-flex
    / Logo Start
    .logo.position-relative
      %a{:href => "index.html"}
        / Logo can be added directly
        / <img src="img/logo/logo-white.svg" alt="logo" />
        / Or added via css to provide different ones for different color themes
        .img
    / Logo End
    / Language Switch Start
    .language-switch-container
      %button.btn.btn-empty.language-button.dropdown-toggle{"aria-expanded" => "false", "aria-haspopup" => "true", "data-bs-toggle" => "dropdown"} EN
      .dropdown-menu
        %a.dropdown-item{:href => "#"} DE
        %a.dropdown-item.active{:href => "#"} EN
        %a.dropdown-item{:href => "#"} ES
    / Language Switch End
    / User Menu Start
    .user-container.d-flex
      %a.d-flex.user.position-relative{"aria-expanded" => "false", "aria-haspopup" => "true", "data-bs-toggle" => "dropdown", :href => "#"}
        %img.profile{:alt => "profile", :src => "img/profile/profile-3.webp"}/
        .name Lisa Jackson
      .dropdown-menu.dropdown-menu-end.user-menu.wide
        .row.mb-3.ms-0.me-0
          .col-12.ps-1.mb-2
            .text-extra-small.text-primary ACCOUNT
          .col-6.ps-1.pe-1
            %ul.list-unstyled
              %li
                %a{:href => "#"} User Info
              %li
                %a{:href => "#"} Preferences
              %li
                %a{:href => "#"} Calendar
          .col-6.pe-1.ps-1
            %ul.list-unstyled
              %li
                %a{:href => "#"} Security
              %li
                %a{:href => "#"} Billing
        .row.mb-1.ms-0.me-0
          .col-12.p-1.mb-2.pt-2
            .text-extra-small.text-primary APPLICATION
          .col-6.ps-1.pe-1
            %ul.list-unstyled
              %li
                %a{:href => "#"} Themes
              %li
                %a{:href => "#"} Language
          .col-6.pe-1.ps-1
            %ul.list-unstyled
              %li
                %a{:href => "#"} Devices
              %li
                %a{:href => "#"} Storage
        .row.mb-1.ms-0.me-0
          .col-12.p-1.mb-3.pt-3
            .separator-light
          .col-6.ps-1.pe-1
            %ul.list-unstyled
              %li
                %a{:href => "#"}
                  %i.me-2{"data-acorn-icon" => "help", "data-acorn-size" => "17"}
                  %span.align-middle Help
              %li
                %a{:href => "#"}
                  %i.me-2{"data-acorn-icon" => "file-text", "data-acorn-size" => "17"}
                  %span.align-middle Docs
          .col-6.pe-1.ps-1
            %ul.list-unstyled
              %li
                %a{:href => "#"}
                  %i.me-2{"data-acorn-icon" => "gear", "data-acorn-size" => "17"}
                  %span.align-middle Settings
              %li
                %a{:href => "#"}
                  %i.me-2{"data-acorn-icon" => "logout", "data-acorn-size" => "17"}
                  %span.align-middle Logout
    / User Menu End
    / Icons Menu Start
    %ul.list-unstyled.list-inline.text-center.menu-icons
      %li.list-inline-item
        %a{"data-bs-target" => "#searchPagesModal", "data-bs-toggle" => "modal", :href => "#"}
          %i{"data-acorn-icon" => "search", "data-acorn-size" => "18"}
      %li.list-inline-item
        %a#pinButton.pin-button{:href => "#"}
          %i.unpin{"data-acorn-icon" => "lock-on", "data-acorn-size" => "18"}
          %i.pin{"data-acorn-icon" => "lock-off", "data-acorn-size" => "18"}
      %li.list-inline-item
        %a#colorButton{:href => "#"}
          %i.light{"data-acorn-icon" => "light-on", "data-acorn-size" => "18"}
          %i.dark{"data-acorn-icon" => "light-off", "data-acorn-size" => "18"}
      %li.list-inline-item
        %a.notification-button{"aria-expanded" => "false", "aria-haspopup" => "true", "data-bs-target" => "#notifications", "data-bs-toggle" => "dropdown", :href => "#"}
          .position-relative.d-inline-flex
            %i{"data-acorn-icon" => "bell", "data-acorn-size" => "18"}
            %span.position-absolute.notification-dot.rounded-xl
        #notifications.dropdown-menu.dropdown-menu-end.wide.notification-dropdown.scroll-out
          .scroll
            %ul.list-unstyled.border-last-none
              %li.mb-3.pb-3.border-bottom.border-separator-light.d-flex
                %img.me-3.sw-4.sh-4.rounded-xl.align-self-center{:alt => "...", :src => "img/profile/profile-1.webp"}/
                .align-self-center
                  %a{:href => "#"} Joisse Kaycee just sent a new comment!
              %li.mb-3.pb-3.border-bottom.border-separator-light.d-flex
                %img.me-3.sw-4.sh-4.rounded-xl.align-self-center{:alt => "...", :src => "img/profile/profile-2.webp"}/
                .align-self-center
                  %a{:href => "#"} New order received! It is total $147,20.
              %li.mb-3.pb-3.border-bottom.border-separator-light.d-flex
                %img.me-3.sw-4.sh-4.rounded-xl.align-self-center{:alt => "...", :src => "img/profile/profile-3.webp"}/
                .align-self-center
                  %a{:href => "#"} 3 items just added to wish list by a user!
              %li.pb-3.pb-3.border-bottom.border-separator-light.d-flex
                %img.me-3.sw-4.sh-4.rounded-xl.align-self-center{:alt => "...", :src => "img/profile/profile-6.webp"}/
                .align-self-center
                  %a{:href => "#"} Kirby Peters just sent a new message!
    / Icons Menu End
    / Menu Start
    .menu-container.flex-grow-1
      %ul#menu.menu
        %li
          %a{:href => "#dashboards"}
            %i.icon{"data-acorn-icon" => "home-garage", "data-acorn-size" => "18"}
            %span.label Dashboards
          %ul#dashboards
            %li
              %a{:href => "Dashboards.Elearning.html"}
                %span.label Elearning
            %li
              %a{:href => "Dashboards.School.html"}
                %span.label School
        %li
          %a{:href => "#courses"}
            %i.icon{"data-acorn-icon" => "online-class", "data-acorn-size" => "18"}
            %span.label Courses
          %ul#courses
            %li
              %a{:href => "Course.Explore.html"}
                %span.label Explore
            %li
              %a{:href => "Course.List.html"}
                %span.label List
            %li
              %a{:href => "Course.Detail.html"}
                %span.label Detail
        %li
          %a{:href => "#quiz"}
            %i.icon{"data-acorn-icon" => "quiz", "data-acorn-size" => "18"}
            %span.label Quiz
          %ul#quiz
            %li
              %a{:href => "Quiz.List.html"}
                %span.label List
            %li
              %a{:href => "Quiz.Detail.html"}
                %span.label Detail
            %li
              %a{:href => "Quiz.Result.html"}
                %span.label Result
        %li
          %a{:href => "#paths"}
            %i.icon{"data-acorn-icon" => "destination", "data-acorn-size" => "18"}
            %span.label Paths
          %ul#paths
            %li
              %a{:href => "Path.List.html"}
                %span.label List
            %li
              %a{:href => "Path.Detail.html"}
                %span.label Detail
        %li
          %a{:href => "#instructors"}
            %i.icon{"data-acorn-icon" => "lecture", "data-acorn-size" => "18"}
            %span.label Instructors
          %ul#instructors
            %li
              %a{:href => "Instructor.List.html"}
                %span.label List
            %li
              %a{:href => "Instructor.Detail.html"}
                %span.label Detail
        %li
          %a{:href => "#miscellaneous"}
            %i.icon{"data-acorn-icon" => "layout-5", "data-acorn-size" => "18"}
            %span.label Miscellaneous
          %ul#miscellaneous
            %li
              %a{:href => "Misc.Player.html"}
                %span.label Player
            %li
              %a{:href => "Misc.Material.html"}
                %span.label Material
            %li
              %a{:href => "Misc.Syllabus.html"}
                %span.label Syllabus
    / Menu End
    / Mobile Buttons Start
    .mobile-buttons-container
      / Scrollspy Mobile Button Start
      %a#scrollSpyButton.spy-button{"data-bs-toggle" => "dropdown", :href => "#"}
        %i{"data-acorn-icon" => "menu-dropdown"}
      / Scrollspy Mobile Button End
      / Scrollspy Mobile Dropdown Start
      #scrollSpyDropdown.dropdown-menu.dropdown-menu-end
      / Scrollspy Mobile Dropdown End
      / Menu Button Start
      %a#mobileMenuButton.menu-button{:href => "#"}
        %i{"data-acorn-icon" => "menu"}
      / Menu Button End
    / Mobile Buttons End
  .nav-shadow