/ Title and Top Buttons Start
.page-title-container
  .row
    / Title Start
    .col-12.col-sm-6
      %h1#title.mb-0.pb-0.display-4
        = yield :page_title
      %nav.breadcrumb-container.d-inline-block{"aria-label" => "breadcrumb"}
        %ul.breadcrumb.pt-0
          = yield :breadcrumb
    / Title End
    / Top Buttons Start
    .col-12.col-sm-6.d-flex.align-items-start.justify-content-end
      = yield :top_button
    / Top Buttons End
/ Title and Top Buttons End