-# / Vendor Scripts Start
-# %script{:src => "js/vendor/jquery-3.5.1.min.js"}
-# %script{:src => "js/vendor/bootstrap.bundle.min.js"}
-# %script{:src => "js/vendor/OverlayScrollbars.min.js"}
-# %script{:src => "js/vendor/autoComplete.min.js"}
-# %script{:src => "js/vendor/clamp.min.js"}
-# %script{:src => "icon/acorn-icons.js"}
-# %script{:src => "icon/acorn-icons-interface.js"}
-# / Vendor Scripts End
-# / Template Base Scripts Start
-# %script{:src => "js/base/helpers.js"}
-# %script{:src => "js/base/globals.js"}
-# %script{:src => "js/base/nav.js"}
-# %script{:src => "js/base/search.js"}
-# %script{:src => "js/base/settings.js"}
-# / Template Base Scripts End
-# / Page Specific Scripts Start
-# %script{:src => "js/pages/horizontal.js"}
-# %script{:src => "js/common.js"}
-# %script{:src => "js/scripts.js"}
/ Page Specific Scripts End