!!!
%html{:lang => "en", data: { placement: "horizontal", behaviour: "pinned", layout: "fluid", radius: "rounded", color: "dark-purple", navcolor: "default", show: "true" } }
  = render "layouts/head"
  %body.h-100
    = yield
