!!!
%html
  %head
    %meta{ content: "text/html; charset=UTF-8", "http-equiv" => "Content-Type" }
    %meta{ charset: "utf-8" }
    = wicked_pdf_stylesheet_link_tag "pdf"
  %body
    #header
      = wicked_pdf_image_tag "logo.png"
    #content
      = yield